<template>
  <div class="converter">
    <h1>km to m / m to km <br>Converter</h1>
    <Label>km: </Label>
    <input type="text" v-model="km">
    <br>
    <br>
    <Label>m: </Label>
    <input type="text" v-model="m">
  </div>
</template>
<script>
export default {
  data() {
    return {
      km: null,
      m: null
    }
  },
  watch: {
    km() {
      this.m = this.km*1000;
    },
    m() {
      this.km = this.m/1000;
    }
  },
}
</script>
<style  scoped>
  .converter {
    border: 2px solid black;
    margin-left: 700px;
    margin-right: 700px;
    padding-bottom: 25px;
    box-shadow: 5px 10px #888888;
    background-color: moccasin
  }
</style>